* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("../images/fondPageWeb.jpg");
  background-size: cover;
}

canvas {
  box-shadow: -7px 7px 0px rgba(0, 0, 0, 0.233);
}

/*Font*/

@font-face {
  font-family: "Digital";
  src: url(../fonts/digital-7-font/Digital7-rg1mL.ttf) format("truetype");
}
